#demo {
	background-image: image-url("Toothless.jpg")


}

#title {

	font-size: 20px;
	font-weight: bold;
	color: purple;

}
#title-square {

	width: 50px;
	height: 30px;
}
#new-event {

	font-size: 30px;
}